@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0}
body{ color:#333; font:100 12px "宋体";background:url(bg2.jpg) no-repeat center top; height:100%; text-align:center}
html{ background:#152C58 url(bg_html.jpg) repeat-x}
a:link,a:visited{color:#666; text-decoration:none}
a:hover{color:#F03}
ul,li{ list-style:none}
img{ border:none; vertical-align:middle}
h1,h2,h3,h4,h5,h6{_font:100 14px "宋体"}
/*em,font{ font-style:normal;font-size:12px}*/
table{border-collapse:collapse; border-spacing:0}
.blank15{ width:100%; height:15px;float:none}
.blank20{ width:100%; height:20px;float:none}
.blank10{ width:100%; height:10px;float:none}
.clear{ clear:both; height:0px;line-height:normal;font-size:0px}

#logobox1{width:548px; margin:0 auto; }

#bg1{width:600px; margin:0 auto;height:768px; text-align:left}
#logobox1 .subox{padding-left:48px; padding-top:10px}
#logobox1 .lform{ margin-left:280px; margin-top:100px}
#logobox1 .lform p{ padding-bottom:10px;color:#0558A4}
#logobox1 .lform label input{ border:1px solid #7790AF; height:19px; line-height:19px; font-size:12px;width:162px; padding-left:2px}



#bg2,#logobox2{width:520px; margin:0 auto;}
#logobox2 .subox{padding-left:48px; padding-top:25px}
#logobox2 .lform{ margin-left:90px; margin-top:42px; font-family:'微软雅黑'}
#logobox2 .lform p{ padding-bottom:15px;color:#52687A; font-size:14px; font-weight:bold}
#logobox2 .lform label input{ border:2px solid #CADAE5; height:17px; line-height:17px; font-size:12px;width:162px; padding-left:2px}
#logobox2 h2{font:bold 25px '微软雅黑';color:#FFF; padding-left:42px}
#logobox2 .subox input{ background:url(bgt.png) no-repeat center top; width:69px; height:23px; text-align:center;border:0;font:100 12px '微软雅黑'; cursor:pointer;color:#4B5F70}



#bg3,#logobox3{width:520px; margin:0 auto;}
#logobox3 .subox{padding-left:48px; padding-top:15px}
#logobox3 .lform{ margin-left:90px; margin-top:22px; font-family:'微软雅黑'}
#logobox3 .lform p{ padding-bottom:15px;color:#FFF; font-size:14px; font-weight:bold}
#logobox3 h2{font:bold 21px '微软雅黑';color:#FFF; padding-left:20px; text-align:left}
#logobox3 .lform label input{ height:30px;  line-height:23px; font-size:12px;width:185px; padding-left:4px; background:url(bgp1.jpg) no-repeat left center; border:0}


/*footer*/
.copyright{ padding-bottom:10px; font-family:Tahoma, Geneva, sans-serif; font-size:11px;
padding-left:15px;}


